<form [formGroup]="form">
  <div class="form-group">
    <label>Old Password</label>
    <input 
      type="password" class="form-control"
      formControlName="oldpassword" id="oldpassword"
      required
      >
      <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert alert-danger">
        <div *ngIf="oldpassword.errors.required">Old Password is required.</div>
        <div *ngIf="oldpassword.errors.isOldPassword">Old Password is invalid.</div>
      </div>
  </div>
  <div class="form-group">
      <label>New Password</label>
      <input 
        type="password" class="form-control"
        formControlName="newpassword" id="newpassword"
        required
        >
        <div *ngIf="newpassword.touched && newpassword.invalid" class="alert alert-danger">
          <div *ngIf="newpassword.errors.required">New Password is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input 
          type="password" class="form-control"
          formControlName="confirmpassword" id="confirmpassword"
          required
          >
          <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmpassword.errors.required">Confirm Password is required.</div>
          </div>
          <div *ngIf="confirmpassword.valid && form.invalid && form.errors.isConfirmedPassword" class="alert alert-danger">Passwords don't match.</div>
      </div>
  <button class="btn btn-primary">Change Password</button>
</form>
