<div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button (click)="toggleContentPanel()" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ title }}
        </button>
      </h5>
    </div>

    <div id="collapseOne" [ngClass]="isShown ? 'show' : ''" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <ng-content></ng-content>
      </div>
    </div>
  </div>